@first-color:	#D6B66F;
@second-color:	#A3351E;
@third-color:	#21435C;
@fourth-color:	#575444;
@fifth-color:	#08AFEF;
@sixth-color:	#FBC108;
@font-face{
	font-family:'PT Sans';font-style:normal;
	font-weight:400;
	src: url(../fonts/PT_Sans-normal-400.woff) format("woff");
	unicode-range:U+0-10FFFF;
}
@font-face {
	font-family:'OpenDyslexic';
	font-style: normal;
	font-weight: normal;
	src: local("OpenDyslexic"), url(../fonts/OpenDyslexic-Regular.otf) format("opentype");
}
@font-face {
	font-family:'OpenDyslexic';
	font-style: italic;
	font-weight: normal;
	src: local("OpenDyslexic-Italic"), url(../fonts/OpenDyslexic-Italic.otf) format("opentype");
}
@font-face {
	font-family:'OpenDyslexic';
	font-style: normal;
	font-weight: bold;
	src: local("OpenDyslexic-Bold"), url(../fonts/OpenDyslexic-Bold.otf) format("opentype");
}
@font-face {
	font-family:'OpenDyslexic';
	font-style: italic;
	font-weight: bold;
	src: local("OpenDyslexic-BoldItalic"), url(../fonts/OpenDyslexic-BoldItalic.otf) format("opentype");
}
@font-face {
	font-family:'AtkinsonHyperlegible';
	font-style: normal;
	font-weight: normal;
	src: local("AtkinsonHyperlegible"), url(../fonts/Atkinson-Hyperlegible-Regular-102.woff) format("woff");
}
@font-face {
	font-family:'AtkinsonHyperlegible';
	font-style: italic;
	font-weight: normal;
	src: local("AtkinsonHyperlegible-Italic"), url(../fonts/Atkinson-Hyperlegible-Italic-102.woff) format("woff");
}
@font-face {
	font-family:'AtkinsonHyperlegible';
	font-style: normal;
	font-weight: bold;
	src: local("AtkinsonHyperlegible-Bold"), url(../fonts/Atkinson-Hyperlegible-Bold-102.woff) format("woff");
}
@font-face {
	font-family:'AtkinsonHyperlegible';
	font-style: italic;
	font-weight: bold;
	src: local("AtkinsonHyperlegible-BoldItalic"), url(../fonts/Atkinson-Hyperlegible-BoldItalic-102.woff) format("woff");
}


/* Containers */

body {
	background: #999 url(../img/fond.png) repeat center fixed;
	color: #555;
	line-height: 1.5;
}
.default-font {
	font-family:"PT Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
	line-height: 1.35;
}
.no-font {
	font-family: initial !important;
}
.dyslexic-friendly,
.dyslexic-friendly button,
.dyslexic-friendly input[type=text] {
	font-family: OpenDyslexic, "Comic Sans MS", sans-serif !important;
	line-height: 1.75;
}
.hyperlegible,
.hyperlegible button,
.hyperlegible input[type=text] {
	font-family: AtkinsonHyperLegible, sans-serif !important;
}

.hi-contrast {
	color: #000;
	background: #fff;
}

#content {
	justify-content: center;
}

/* Modal */

.modal-container {
	padding: 1rem;
	background-color: rgba(0, 0, 0, 0.4);
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Box rounded borders */

.box.box-body,
.box > .box-body {
	border-radius: 1em;
}
.box header + .box-body {
	border-radius: 0px 0em 1em 1em;
}

@media (max-width:22rem) {
	.box.box-tiny .box-body {
		border-radius: 0;
	}
}

@media (max-width:42rem) {
	.box.box-medium .box-body,
	.box.box-large .box-body{
		border-radius: 0;
	}
}
/* Box browser header */

.box header .browser {
	background: transparent;
}

.box header .browser ul {
	padding: 0;
	margin: 0 0 0 1ex;
	justify-content: flex-start;
}

.box header .browser li {
	background-color: #eee;
	margin-right: 0.5em;
	padding: 0.5em;
	border-radius: 0.5em 0.5em 0 0;
	border-bottom: 1px solid #aaa;
}
.box header .browser li:last-child {
	background-color: #fff;
	border-bottom: none;
}

.box header .browser li h1 {
	font-size: medium;
	font-weight: bold;
	color: #555;
	margin: 0;
}

.box header .browser a {
	color: #555;
	text-decoration: none;
}
.box header .browser a:hover {
	color: #555;
	text-decoration: underline;
}


/* Box header */

.box header .navbar {
	background-color: #5aaf58;
}

.box header > h2 {
	background-color: #5aaf58;
	color: #fff;
	border-radius: 0.5em 0.5em 0 0;
	margin: 0;
	padding: 0.5em 1em 0.5em 1em;
}

.box.box-body,
.box .box-body {
	background-color: #fff;
	padding: 1em;
}

.box nav {
	color: #fff;
	border: none 0;
	border-radius: 0;
	margin-bottom: 0;
}

/* Buttons */

a.btn {
	display: inline-block;
	text-decoration: none;
}

.btn {
	padding: 0.5em;
	border-width: 0 0.2rem 0.2rem 0.05rem;
	border-radius: 0.5rem;
	border-style: outset;
	font-size: small;
}

.btn:hover {
	border-style: inset;
}

.btn:disabled {
	background-color: #777;
	border-color: #636363;
	color: white;
	cursor: not-allowed;
}

.btn-primary {
	background-color: #158cba;
	border-color: #127ba3;
	color: #fff;
}

.btn-misc {
	color: #000;
	background-color: #ddd;
	border-color: #aaa;
}

.btn-add {
	background-color: #a3351e;
	border-color: #8c2e1a;
	color: white;
}

.btn-import {
	background-color: #21435c;
	border-color: #1a3447;
	color: white;
}

.btn-export {
	background-color: #d6b66f;
	border-color: #c2a565;
	color: black;
}

.btn-edit {
	background-color: #08afef;
	border-color: #07a1db;
	color: white;
}

.btn-delete {
	background-color: #575444;
	border-color: #424034;
	color: white;
}


/* Misc */

small {
	font-weight: lighter;
	color: #777;
}

h1, h2, h3, h4, h5, h6 {
	color: #A3351E;
}

dt {
	font-weight: 700;
}
.dl-horizontal dd,
.dl-horizontal dt {
	margin-top: 0.35em;
}

.thumbnail {
	height: 3rem;
}
.thumbnail-text {
	vertical-align: middle;
	margin-right: 0.5em;
}

.filters ul li p.help {
	font-size: small;
	font-style: italic;
	margin-left: 3ex;
	margin-top: 0px;
}

.text-flow {
	align-items: center;
	column-gap: 1rem;
}

/* Login form */

#login-logo {
	padding: 0px 20px;
	min-width: 0;
	width: auto;
}
#login-logo img {
	position: relative;
	top: -15px;
}

@media (max-width: 60rem) and (min-height: 35rem) {
	#login-logo {
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}
	#login nav {
		border-top-right-radius: 0;
		border-top-left-radius: 0;
	}
}

/* Loading screen */

#loading {
	background-color: rgba(128, 128, 128, 0.5);
	color: #fff;
	text-align: center;
	font-weight: bold;
	font-size: x-large;
	text-shadow: 1px 1px 5px #444;
}

/* Navigation bar (main menu and box menu) */

#menu {
	border-bottom: 0.1rem;
	border-color: #101010;
	background-color: #222;
}
@media (max-width:30rem) {
	#menu {
		padding: 0;
	}
}

.navbar ul {
	padding: 0px;
	margin: 0px;
}

.box .navbar {
	padding: 0.5em 1em;
}
.box .navbar ul li {
	margin-right: 1em;
	margin-block: auto;
}

#menu .navbar-brand,
#menu-collapser + label {
	height: 3rem;
	padding: 0.1rem;
	margin: 0.2rem 0.5rem;
}

#menu-collapser + label {
	background: url('../img/menu-collapser.png') 0 0px no-repeat;
	background-size: contain;
	display: block;
	width: 3rem;
}
#menu-collapser + label {
	color: transparent;
}

#menu .navbar-brand {
	background-color: #fff;
	border-radius: 0.2rem;
}
#menu .navbar-brand img {
	height: 100%;
}

#menu .dropdown button {
	border: none;
	background-color: unset;
	color: #9d9d9d;
	height: 3.6rem;
	min-width: 10em;
}

#menu .dropdown button:hover,
#menu .dropdown.expanded button {
	color: #fff;
}

#menu .dropdown.expanded button {
	background-color: #080808;
}

#menu .dropdown-menu {
	padding: 0.5em 1em 0.5em 0.5em;
	background-color: #fff;
	box-shadow: 0 0.5em 1em rgba(0,0,0,0.175);
}
#menu .dropdown-menu a {
	color: #333;
	text-decoration: none;
}
#menu .dropdown-menu a:hover {
	text-decoration: underline;
}

.spacing-row {
	margin-top: 10px;
	margin-bottom: 10px;
}

#message-box.message-info {
	background-color: #393F4C;
	color: #DDD;
	border: 2px solid #DDD;
}
#message-box.message-warning {
	background-color: #c6c900;
	color: #000;
	border: 2px solid #DDD;
}
p.warning {
	background-color: #c6c900;
	color: #000;
	border: 2px solid #DDD;
	border-radius: 1ex;
	padding: 1ex;
}
p.warning strong {
	color: #e00;
}
#message-box.message-error {
	background-color: #4F4C4D;
	border: 2px solid #333;
	color: #DDD;
}

nav.table-pagination {
	color: unset;
	justify-content: center;
}
table thead {
	position: sticky;
	top: 4rem;
}
table tfoot {
	position: sticky;
	bottom: 1rem;
}
table thead tr,
table thead tr .z-oddcol,
table tfoot tr,
table tfoot tr .z-oddcol {
	background-color: #ddd;
}
table td.numeric {
	font-variant-numeric: tabular-nums;
	text-align: end;
}
table td.datetime {
	font-variant-numeric: tabular-nums;
}
.ticket {
	background-color: #eee;
	border: 1px solid #000;
	padding: 1ex;
	min-width: 34ex;
	max-width: 34ex;
	top: 4rem;
	bottom: 0px;
	max-height: 90vh;
	overflow-y: scroll;
}

/* Form */

fieldset legend {
	font-weight: bold;
	font-size: large;
	color: #A3351E;
}

.tooltip {
	font-style: italic;
	font-size: small;
}

/* Catalog picker */

.catalog-picker button {
	background-color: #DDD;
}

.catalog-picker label {
	background-color: rgba(255, 255, 255, 0.4);
}

/* Table styles */

.floor-display {
	margin-left: auto;
	margin-right: auto;
}

table, th, td {
	border: 1px solid #ddd;
}
th {
	border-bottom: 2px solid #ddd;
}
tr {
	background-color: #fff;
}
tr:hover {
	background-color: #eee;
}
.z-oddcol {
	background-color: #f0f0f0;
}
tbody tr:hover .z-oddcol {
	background-color: #ebebeb;
}

/* Archive entries like products not currently sold. */
.invisible-data {
	font-style: italic;
	font-size: small;
}

.floor-display {
	background-image: url('../img/grid.png');
}
.place {
	position: absolute;
	border: 1px solid #000;
	background-color: #fff;
	z-index: 2;
	width: 4rem;
	height: 3rem;
	font-size: small;
	display: flex;
	align-items: end;
	line-height: 1;
	cursor: grab;
}
.place.selected {
	border-color: #5aaf58;
	background-color: #c0e174;
	color: #333;
}
.deleted-places {
	display: flex;
	padding: 0px;
}
.place-list {
	margin: 1ex;
	padding: 0.5ex;
	border: 1px solid #000;
	background-color: #fff;
}
.floor {
	background-color: lightgray;
	border: solid 1px black;
	position: relative;
	width: 640px;
	height: 480px;
	overflow: hidden;
}
